*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Walter Turncoat", cursive; */
    font-family:  'Arial', 'Helvetica', sans-serif;
    /* height: px; */
    /* background-color: #edf2f4; */
    background-color:#2b2d42 ;/*مؤقت*/
    padding-bottom: 30px;
}

.cash_back{
    width: 100%;
    height: 33px;
    background-color: #2b2d42;/*مؤقت*/

    display: flex;
    justify-content: center;
    align-items: center;
}



.cash_back p{
    color:#edf2f4;/*مؤقت*/
    text-transform: uppercase;
 /*مؤقت*/
    font-family: "Walter Turncoat", cursive;
    font-weight: 600;
    
 /*مؤقت*/
    font-size: 12px;
}
/* ////////////fixed header ///// */
.header_container{
    width: 90%;
    margin: auto;
    
}

.fixed_header{
    height: 70px;
    background-color:#2b2d42 ;/*مؤقت*/
    border-radius: 50px;
    position: fixed;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    z-index: 100;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

.fixed_header .parent{
    height: inherit;
    width: 95%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px 0px 15px ;
    
}


.fixed_header .right_area li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 25px;
    
}

.fixed_header .right_area li a{
    text-decoration: none;
    color: #edf2f4;/*مؤقت*/
    text-transform: uppercase;

    /*مؤقت*/
    
    font-weight: 600;
    /*مؤقت*/
    font-size: 14px;
    

}

.fixed_header .right_area li a i{
    font-size: 11px;
    margin-left: 3px;
}

.fixed_header .right_area li p{
    position: absolute;
    background-color: #edf2f4;/*مؤقت*/
    height: 2px;
    bottom: -2px;
    
    display: none;
}

.fixed_header .right_area .it1 p{
    width: 54px;
}

.fixed_header .right_area .it2 p{
    width: 63px;
}

.fixed_header .right_area .it3 p{
    width: 37px;
}

.fixed_header .right_area .it4 p{
    width: 62px;
}

.fixed_header .right_area li a:hover + p{
    display: block;
}

.fixed_header .left_area li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.fixed_header .left_area li a{
    color:#edf2f4;
    font-size: 20px;
}

.fixed_header .left_area li .cart{
    color:#edf2f4;
    font-size: 20px;
    cursor: pointer;
}


.fixed_header .midd_area{
    width: 150px;
    height: 100px;

    background-image: url(../images/elea\ logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* //////////////////////////////////main//////////////////// */

main{
    width: 100%;
    height: 370px;
    background-color: #8d99ae;
    position: relative;
}

main .content{
    width: inherit;
    /* height: 200px; */
    position: absolute;
    top:45%

}

main h2{
    color: #2b2d42;
    font-size: 40px;
    text-align: center;
    /* word-spacing: 2px; */
    font-weight: 900;
    /* letter-spacing: 2px; */
    text-transform: uppercase;
    margin-bottom: 30px;
}

main .categories{
    display: flex;
    justify-content: center;
    gap: 20px;

}

main button{
    background-color: #8d99ae;
    color:#2b2d42;
    border: 2px solid #2b2d42;
    padding: 14px 35px;
    border-radius:50px ;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

main .active_btn{
    background-color: #2b2d42;
    color: #8d99ae;
}

main button:hover{
    background-color: #2b2d42;
    color: #8d99ae;
    transform: translateY(-2px);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

/*/////////////////////////// products section //////////////////////////*/

.products_section{
    /* background-color: #edf2f4; */
    background-color:#2b2d42 ;/*مؤقت*/

}

.products_section_container{
    width: 95%;
    /* margin: 40px auto; */
    margin: 60px auto;
    /* background-color: rgb(18, 18, 18); */
}

.cards_parent{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    /* column-gap: 2.5%; */
    justify-content: center;
    /* grid-template-rows: repeat(2,300px); */
    grid-auto-rows: minmax( 150px , ) ;
    row-gap: 4%;
    column-gap: 2%;

}

.card{
    border: 2px solid #edf2f4;
    background-color: #2b2d42;
    border-radius: 20px;
    padding: 20px 15px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 20px;

}


.card .content h3{
    font-size: 16px;
    font-weight: 700;
    color: #edf2f4;
    text-transform: uppercase;
    margin-bottom: 8px;    
}

.card .content p{
    color: #edf2f4;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px
}

.card .purchase_option{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.purchase_option .option{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 2px solid #edf2f4;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

}

.option input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color:#2b2d42;
    outline: none;
}

.option span{
    font-size: 14px;
    font-weight: 600;
    color: #edf2f4;
    text-transform: uppercase;
}

.op2{
    background-color: #8d99ae;

}

.card button{
    width:100%;
    background-color: #8d99ae;
    color: #2b2d42;
    border: none;
    padding: 18px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    word-spacing: 4px;
}

/* /// cart_div */
.cart_div{
    background-color: #2b2d42;
    height: 100vh;
    width: 30vw;
    position: fixed;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    z-index: 101;
    overflow: hidden;
    display: none;

}

.cart_cashback{
    background-color: #8d99ae;
    text-align: center;
    color: #edf2f4;
    padding: 18px 20px;
    font-size: 16px ;
    font-weight: 700;
    text-transform: uppercase;
}

.cart_container{
    height: 100%;
    position: relative;
}

.first_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px; 
    margin-bottom: 20px;
   
   
}

.first_part p{
    text-transform: uppercase;
    font-weight: 700;
    color: #edf2f4;
}

.first_part i{
    font-size: 25px;
    color: #edf2f4;
    cursor: pointer;
}

.cart_content{
    padding:0 30px ;
    overflow: auto;
    height: 400px;

}

.cart_title{
    font-size: 30px;
    font-weight: 700;
    color: #edf2f4;
    text-transform: uppercase;
    
    margin-bottom: 20px;
}

.total_section{
    width: 100%;
    height: 20%;
    background-color: #8d99ae;
    position: absolute;
    bottom:50px ;
}

.total_section
{
    padding: 25px;
}

.total_cast_section{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.total_cost_lable{
    font-size: 22px;
    font-weight: 700;
    color: #edf2f4;
    text-transform: capitalize;
}

.total_cast_price{
    display: flex;
    gap: 15px;

}

.total_cast_price p{
    font-size: 22px;
    color: #edf2f4;
}

.original-total{
    text-decoration: line-through;
    font-weight: 500;
    display: none;
}

.final-total{
    font-weight: 700;
}

.checkout-btn{
    width: 80%;
    background-color: #2b2d42;
    color: #edf2f4;
    border: none;
    padding: 20px;
    border-radius:  50px ;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    transform: translateX(15%);
}

.checkout-btn:hover{
    transform: translate(15%,-4px);
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
}


/* js cart item */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8d99ae;
    margin: 10px 20px;
    padding: 10px 15px;
    border-radius: 12px;
    color: #2b2d42;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item .item-name {
    flex: 1;
    margin-left: 15px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.cart-item .item-count {
    font-size: 14px;
    font-weight: 600;
    color: #2b2d42;
}

